
.header {
    border-bottom: 1px solid $header-border-color;
}

.header .container {
    display: flex;
}

 .header-nav {
     display: flex;
     align-items: center;
 }
.header-logo {
    color: $button-bg-color;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.20;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-right: 93px;
}

.header-logo-studio {
    color: $title-text-color;
}

 .menu {
     display: flex;
     align-items: center;
 }

 .menu-item {
     margin-right: 50px;

     &:nth-child(3n) {
         margin-right: 0;
     }
 }

.header-studio {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $title-text-color;
    
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;

    &:active,
    &:hover,
    &:focus {
        color: $button-bg-color;
    }
}

.current {
    position: relative;
    color: $button-bg-color;

    .header-portfolio-contacts & {
        color: $button-bg-color;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;

        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: $button-bg-color;
        opacity: 0;
    }
        &:hover::after,
        &:focus::after,
        &:active::after {
            opacity: 1;
        }
}

.header-portfolio-contacts {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: block;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $title-text-color;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;

    &:hover,
    &:focus,
    &:active {
        color: $button-bg-color;
    }
}

.contact-list {
    display: flex;
    align-items: center;
    margin-left: auto;
}
 .contacts-link {
     transition-property: color;
     transition-duration: 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

     font-weight: 500;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.02em;

     color: $primery-text-color;
     padding-top: 32px;
     padding-bottom: 32px;
     display: flex;
     align-items: center;

     &:hover,
     &:focus {
         color: $button-bg-color;
     }
 }
.header-email {
    margin-right: 50px;
}

.header-post-icon,
.header-tel-icon {
    align-self: center;
    margin-right: 10px;
    fill: currentColor;

    &:hover,
    &:focus {
        color: $button-bg-color;
    }

    &:hover {
        color: $button-bg-color;
    }
}
