.team {
    background: $team-bg-color;
 }

.team__title {
   margin-bottom: 50px;
   font-weight: 700;
   font-size: 36px;
   line-height: 1.16;
   text-align: center;
   letter-spacing: 0.03em;
   color: $title-text-color;
}

 .team__list {
    display: flex;
    margin-right: -30px;
 }

.photo-boxes {
   background: $accent-text-color;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
   margin-right: 30px;
}

 .team-description {
    padding: 30px 5px;
 }

 .name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    
    text-align: center;
    margin-bottom: 10px;
    color: $title-text-color;
 }

 .job-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 16px;
    color: $primery-text-color;
 }

.team-soc-list {
   display: flex;
   justify-content: center;
}

.team-soc-item {
   width: 44px;
   height: 44px;
   margin-left: 10px;
}

.team-soc-link {
   transition-property: color, background-color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100%;
   border-radius: 50%;
   color: $social-icon-color;

   &:hover,
   &:focus {
      background-color: $button-bg-color;
      color: $accent-text-color;
   }
}

.team-soc-icon {
   fill: currentColor;
}
